

/* GENERAL Styles                    
   -------------------------------- */
:root {
  --gray1: #777;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background-color: #f7f7f7;
}

.hidden {
  display: none;
}
main{
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
h1{
 text-align: center;
}
/* 
.leadImg{ 
  width: 25%;
  height: auto;
  justify-items: center;
} */
form{
  justify-content: center;
  
}




/* TELEPORT INFO Styles                    
   -------------------------------- */
.graph-cont {
  width: 100%;
  height: .6em;
  background-color: #eee;
}

.bar-graph {
  width: 10%;
  height: 100%;
  background-color: #555;
}

.score {
  font-size: .9em;
}

.category-title {
  margin-bottom: .5em;
  display: flex;
  justify-content: space-between;
  font-size: .9em;
}

.category-title span:first-child {
  font-weight: 600;
}

div[id*="item-"] {
  width: 200px;
  padding: .5em 0;
  border-top: 1px dotted var(--gray1);
}




/* MAPBOX Styles                    
   -------------------------------- */
   #map {
    /* position: absolute;
    top: 0;
    bottom: 0; */
    /* width: 100%; */
    width: 480px;
    height: 270px;
    margin-top: 7%;
  }