:root {
  --gray1: #777;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidden {
  display: none;
}

.graph-cont {
  width: 100%;
  height: .6em;
  background-color: #eee;
  /* display: block; */
  /* background-color: #555; */
}

.bar-graph {
  width: 10%;
  height: 100%;
  /* display: inline-block; */
  background-color: #555;
}

.score {
  font-size: .9em;
}

.category-title {
  margin-bottom: .5em;
  display: flex;
  justify-content: space-between;
  font-size: .9em;
}

.category-title span:first-child {
  font-weight: 600;
}

div[id*="item-"] {
  width: 200px;
  padding: .5em 0;
  border-top: 1px dotted var(--gray1);
}