.photo-container {
    width: 960px;
    height: 540px;
    background-image: url(assets/pdximg.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }